/*Imagens*/
img {
	width: 100%;
	height: 200%;
	border: 0;
	padding: 5px;
}
.teste {
	width: 50%;
	height: 50%;
	position: relative; left:5px;
}


/*CORES*/
.preto{
	color: #ccc; /*Cor para caso seja usado texto no slide*/
}

/*SLIDE DE IMAGENS*/
.slide{
	min-height: 350px;
	border: 5px solid #fff;
	position: relative;
}
.slideImagem{
	position: absolute;
	opacity: 0;
	-webkit-animation: animaSlide 20s infinite;
}
@keyframes animaSlide {
	25%{
		opacity: 1;
	}
	75%{
		opacity: 0;
	}

}

.slideImagem:nth-child(0){
	animation-delay: 0s;
}
.slideImagem:nth-child(1){
	animation-delay: 5s;
} 
.slideImagem:nth-child(2){
	animation-delay: 10s;
} 
.slideImagem:nth-child(3){
	animation-delay: 15s;
}  